/* components/Footer.css */

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .github-button {
    padding: 10px 20px;
    background-color: #24292e; /* GitHub color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .github-button:hover {
    background-color: #17202a; /* Darker GitHub color on hover */
  }
  